.navbar-brand .img-fluid{
    max-width: 96px;
}
.salesforce-logo{
    display: inline;
    max-height: 22px;
}

.single-icon-box i.icon-five{
    background-color: #EF513B;
}
.single-icon-box i.icon-six{
    background-color: #80CDBB;
}
.single-icon-box i.icon-seven{
    background-color: #FEBE3F;
}
.single-icon-box i.icon-eight{
    background-color: #8A6D9E;
}
.footer-single-col img{
    max-height: 50px;
}
.hero-content-wrap .action-btn .video-btn{
    color: #175cff;
}
.hero-content-wrap .action-btn .video-btn i{
    color: #175cff;
    background: #dae5fe;
}
video{
    max-width: 100%;
}
.ptb-50-100{
    padding-top: 50px;
    padding-bottom: 100px;
}
.lead span{
    padding-left: 10px;
}